.prev_education_degreeAndUni{
    font-family: 'Source Sans 3', sans-serif;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
}
.prev_education_degree{
    font-size: 1rem;
}
.prev_education_uni{
    margin-left: 1rem;
    font-size: 0.8rem;

}

.font-Libre{
    font-family: 'Libre Baskerville', serif;
}
.prev_education_desc{
    font-family: 'Source Sans 3', sans-serif;
    margin-top: 0.5rem;
    font-size: 1rem;
}