.prev_user_details{
    display: flex;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
}


.prev_user_details-initial{
    display: flex;
    width: 6rem;
    height: 6rem;
    background-color: rgba(218, 119, 33, 0.83);
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;

}
.prev_user_details-name-address{
    font-size: 1.8rem;
    margin-left: 1rem;
    color: rgba(218, 119, 33, 0.83);
}
.prev_user_details-name-address p:nth-child(3){
    font-size: 0.8rem;
    color: black;
}

.prev_user_details-desc{
    margin-top: 1rem;
    font-size: 0.8rem;
    font-family: 'Source Sans 3', sans-serif;
}
/*----------------preview container styles from content.jsx----------*/
.preview_SectionHeader{
    margin-top: 1rem;
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2rem;
    color: rgba(218, 119, 33, 0.83);
    position: relative;
}

.preview_SectionHeader::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background-color: rgba(218, 119, 33, 0.83);
}