
#Content-Containter {
    display: flex;
    /*background-color: green;*/
    width: calc(100% - 2rem - 2rem);
    margin: 2rem;
    background-color: #eceef2;
}

#User_Container {
    width: 45vw;
    /*background-color: teal;*/
    border-radius: 0.6rem;
    border-top: 4px solid #005705;
    box-shadow: 0px 1px 5px -2px rgba(33, 2, 40, 0.83);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}

#Preview_container {
    width: 45vw;
    /*background-color: teal;*/
    /*border-radius: 0.6rem;*/
    margin-left: 2vw;
    box-shadow: 0px 1px 5px -2px rgba(33, 2, 40, 0.83);
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 2rem 1.5rem 1.5rem 3rem;
    height: fit-content;

}

.Section_header {
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
    align-items: center;
}

.Section_header img{
    height: 1.5rem;
    margin-right: 1rem;
}

.forms-label {
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size: 0.8rem;
    color: black;
    font-weight: 600;

}

.forms-label p {
    width: 15rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.input-text {
    font-family: 'Plus Jakarta Sans', sans-serif;
    height: 1.5rem;
    width: 15rem;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid #575757;
    padding-left: 5px;
    background-color: rgba(235, 236, 239, 0.52);


}

.input-text:focus {
    border: 2px solid #2828bd;
}

button {
    font-family: 'Poppins', sans-serif;
}

textarea {
    height: 3rem;
    width: 20rem;
    max-width: 100%;
    min-width: 100%;
    min-height: 4rem;
    max-height: 4rem;
    resize: none;

}


.add-btn {
    margin-left: 50%;
    translate: -50%;
    color: green;
    background-color: #ffffff;

    font-weight: 600;
    border-radius: 2px;
    border: 1px solid green;
    padding: 5px;
    transition: all 0.5s;
}

.add-btn:hover {
    color: #ffffff;
    background-color: green
}

.dlt-btn {

    color: #b70404;
    background-color: #ffffff;
    font-weight: 600;
    border-radius: 2px;
    border: 1px solid #b70404;
    padding: 5px;
    transition: all 0.5s;
}

.dlt-btn:hover {
    color: #ffffff;
    background-color: #b70404
}

/*----------------Preview details general CSS are thereby included in Preview_userdetails.css */

@media screen and (max-width: 735px){
    #Content-Containter{
        display: flex;
        flex-direction: column;
    }
    #User_Container {
        width: 80vw;
        /*background-color: teal;*/
        border-radius: 0.6rem;
        border-top: 4px solid #005705;
        box-shadow: 0px 1px 5px -2px rgba(33, 2, 40, 0.83);
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;


    }

    #Preview_container {
        width: 80vw;
        /*background-color: teal;*/
        /*border-radius: 0.6rem;*/
        margin-left: 2vw;
        box-shadow: 0px 1px 5px -2px rgba(33, 2, 40, 0.83);
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        padding: 2rem 1.5rem 1.5rem 5rem;
        height: fit-content;
        margin-top: 2rem;

    }

}
@media screen and (max-width: 400px){
    .input-text {
        font-family: 'Plus Jakarta Sans', sans-serif;
        height: 1.5rem;
        width: 50vw;
        border-radius: 5px;
        outline: none;
        border: 0.5px solid #575757;
        padding-left: 5px;
        background-color: rgba(235, 236, 239, 0.52);


    }
    textarea{
        max-width: 40dvw;
    }
}

.print{
    margin-top: 2rem;
}

@media screen and (max-width: 400px){

    textarea.input-text{

        width: 3rem;
        max-width: 60vw;
    };
}

@media print {
    #Preview_container {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        padding: 1.5rem;
        margin: 0;
        background-color: white; /* Set the background color if needed */
    }
}